// Import Partials
@use 'mixins' as *;
@use 'reset' as *;
@use 'variables' as *;

/* Styles for the whole page */
body {
  @include flex;

  font-family: $ff-roboto;
  padding: $space-400;

  @include tablet {
    background-color: $clr-charcoal-grey;
  }
}

/* Hidden Page Title */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Styles for the Card */
.card {
  max-width: $width-card-mobile;

  // Place card image on the right side
  @include tablet {
    background-color: $clr-white;
    max-width: $width-card-desktop;
    display: flex;
    flex-direction: row-reverse;
    padding: $space-700;
    border-radius: $radius-lg;
  }
}

/* Styles for the Card Image */
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include tablet {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $radius-sm;
    overflow: hidden;
  }
}

/* Styles for the Card Body */
.card__body {
  padding: $space-900 $space-700;
  color: $clr-dark-slate-grey;

  @include tablet {
    flex: 1;
    padding: $space-1600 $space-1650 $space-850 $space-1100;
  }
}

/* Styles for Card Title */
.card__title {
  font-size: $fs-1050;
  letter-spacing: 0.9px;

  @include tablet {
    font-size: $fs-1500;
    letter-spacing: 0.001px;
  }
}

/* Styles for Card Description */
.card__description {
  margin-block-start: $space-300;

  @include tablet {
    margin-block-start: $space-100;
  }
}

/* Styles for list items */
.card__list {
  margin-block: $space-700 $space-1100;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: $space-100;
}

/* Pseudo element for list item icons */
.card__list-item::before {
  content: url('../assets/images/icon-list.svg');
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-inline-end: $space-350;
}

.card__list-item {
  display: flex;
}

/* Styles for the form */
.card__input {
  display: block;
  width: 100%;
}

/* Create space between label and error message */
.card__label-error {
  display: flex;
  justify-content: space-between;
}

.card__label {
  font-size: $fs-200;
  font-weight: $fw-bold;
  margin-block-end: $space-80;
}

/* Styles for the email input field */
.card__input {
  padding: $space-300 $space-650;
  border-radius: $radius-xs;
  margin-block-end: $space-700;
  cursor: pointer;
  border: 1px solid $clr-grey;
  color: $clr-grey;
  opacity: 0.7;
}

.card__input:focus {
  outline: none;
  border: 1px solid $clr-dark-slate-grey;
  color: $clr-dark-slate-grey;
  opacity: 1;
}

/* Styles for error message */
.error-msg {
  color: $clr-tomato;
  font-size: $fs-200;
  font-weight: $fw-bold;
}

/* Styles for input field with invalid email */
.card__input.active {
  color: $clr-tomato;
  border: 1px solid $clr-dark-red;
  background-color: $clr-light-pink;
}

/* Styles for the submit button */
.btn {
  display: block;
  width: 100%;
  color: $clr-white;
  font-weight: $fw-bold;
  background: $clr-dark-slate-grey;
  padding: $space-450;
  border: transparent;
  border-radius: $radius-xs;
  cursor: pointer;
}

/* Styles for the submit button on hover and focus */
.btn:hover,
.btn:focus {
  background: linear-gradient(to right, $clr-tomato-dark, $clr-tomato);
  box-shadow: $shadow-md;
  outline: none;
}

/* Styles for the success dialog */
.success {
  border: transparent;
  max-width: $width-card-mobile;
  width: 100%; // Card occupies the whole width of viewport on small screens
  height: unset; // Override the default height of dialog element
  min-height: 100%; // Card occupies the whole height of viewport
  padding: $space-lg $space-700 $space-1100;

  // Place success dialog in the center
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include tablet {
    max-width: 504px;
    min-height: 520px;
    border-radius: $radius-lg;
    padding: 47px 64px 64px 64px;
  }
}

/* Wrapper takes up the entire height of the success dialog. Apply flex to separate content from button */
.success__wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Styles for the success dialog title */
.success__title {
  font-size: $fs-1050;
  letter-spacing: 0.9px;
  line-height: 1.1;
  margin-block: $space-1100 $space-600;
  outline: none;

  @include tablet {
    font-size: $fs-1500;
    letter-spacing: 0.001px;
    line-height: 1;
    margin-block: $space-1100 $space-700;
  }
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}
