
@use 'mixins' as *;
@use 'reset' as *;
@use 'variables' as *;


body {
  @include flex;

  font-family: $ff-roboto;

  @include tablet {
    background-color: $clr-charcoal-grey;
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


.card {
  max-width: $width-card-mobile;

  @include tablet {
    background-color: $clr-white;
    max-width: $width-card-desktop;
    display: flex;
    flex-direction: row-reverse;
    padding: $space-700;
    border-radius: $radius-lg;
  }
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $radius-sm;
  overflow: hidden;
}
.card__body {
  padding: $space-1100 $space-700;
  color: $clr-dark-slate-grey;

  @include tablet {
    flex: 1;
    padding: $space-1600 $space-1650 $space-850 $space-1100;
  }
}


.card__title {
  font-size: $fs-1050;

  @include tablet {
    font-size: $fs-1500;
    letter-spacing: 0.001px;
  }
}


.card__description {
  margin-block-start: $space-650;

  @include tablet {
    margin-block-start: $space-100;
  }
}


.card__list {
  margin-block: $space-700 $space-1100;
  padding-inline-start: 0;
  display: flex;
  flex-direction: column;
  gap: $space-100;
  
}



.card__list-item::before {
  content: url('../assets/images/icon-list.svg');
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-inline-end: $space-350;
}

.card__list-item {
  display: flex;
}



.card__input {
  display: block;
  width: 100%;
}



.card__label-error {
  display: flex;
  justify-content: space-between;
}
.card__label {
  font-size: $fs-200;
  font-weight: $fw-bold;
  margin-block-end: $space-80;
}


.card__input {
  padding: $space-300 $space-650;
  border-radius: $radius-xs;
  margin-block-end: $space-700;
  cursor: pointer;
  border: 1px solid $clr-grey;
  color: $clr-grey;
  opacity: 0.7;

}

.card__input:focus {
  outline: none;
  border: 1px solid $clr-dark-slate-grey;
  color: $clr-dark-slate-grey;
  opacity: 1;
}


.error-msg {
  color: $clr-tomato;
  font-size: $fs-200;
  font-weight: $fw-bold;
}

.card__input.active {
  color: $clr-tomato;
  border: 1px solid $clr-dark-red;
  background-color: $clr-light-pink;
}


.btn {
  display: block;
  width: 100%;
  color: $clr-white;
  font-weight: $fw-bold;
  background: $clr-dark-slate-grey;
  padding: $space-450;
  border: transparent;
  border-radius: $radius-xs;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: $clr-tomato;
  box-shadow: $shadow-md;
  outline: none;
}


.success {
  border: transparent;
  max-width: $width-card-mobile;
  height: unset;
  min-height: 100%;
  padding: $space-lg $space-700 $space-1100;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


}

.success__wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}





.success__title {
  font-size: $fs-1050;
  letter-spacing: 0.9px;
  line-height: 1.1;
  margin-block: $space-1100 $space-600;
  outline: none;
}













